<section class="block">
    <header class="block__header">
        <h2>What Our Customers Are Saying </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, at.</p>
    </header>
    <div class="container">
        <div class="testimonial grid grid--1x2">
            <div class="testimonial__image">
                <img src="images//testimonial.jpg" alt="A Happy smiling face">
                <span class="icon-container icon-container--accent">
                    <svg class="icon icon--white icon--small " >
                        <use  xlink:href="images/sprite.svg#quotes"></use>
                        </svg>
                </span></div>
            <div>
                <blockquote>
                    <p class="quote quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellat rem similique blanditiis 
                        voluptas nisi sapiente quaerat aliquam omnis voluptatum exercitationem.</p>
                    <footer>
                        <div class="media">
                            <div class="media__image ">
                                    <svg class="icon icon--primery quote__line" >
                                        <use  xlink:href="images/sprite.svg#line"></use>
                                    </svg>
                            </div>
                            <div class="media__body">
                            <h3 class="media__title quote__author">
                                john smith
                            </h3>
                            <p class="quote__organization">
                                ADC compeny
                            </p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        
        </div>
    </div>
</section>